<!DOCTYPE html>
<html>
    <head>
        <!-- En-tête de la page -->
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/static/images/logo_send.png" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 1280px)" href="{{ url_for('static', filename='style_under_1280px.css') }}" /> 
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 720px)" href="{{ url_for('static', filename='style_under_720px.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 530px)" href="{{ url_for('static', filename='style_under_530px.css') }}" /> 
        <title>GrandPy Bot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <header>
        <body class="headerText">
        <!-- Corps de la page -->
        <div>
            <img src="{{ url_for('static', filename='images/logo_v1.jpg') }}" alt="GrandPy Bot logo" />
            <h2 class="headerText">Bonjour et bienvenue chez GrandPapy Bot !</h2>
        </div>
        <div>
            <p class="headerTextDescription">Je suis un assistant qui vous permettra de trouver l'adresse d'un lieu, d'un monument, d'une institution, etc...</p>
        </div>
        </body>
    </header>
    <section>
        <div id="conversationContainer" class="conversationContainer">
        </div>
        <div class="sendMessageContainer">
            <form id="user-text-form">
                <label for="userText"></label>
                <input type="text" id="userText" class="inputuserText" name="userText" placeholder="Quelle adresse souhaitez-vous trouver ?" autofocus>
                <input type="image" class="inputButton" id="inputButton" alt="Envoyer" src="/static/images/logo_send.png">
            </form>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&libraries=&v=weekly"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </section>
    <footer>
        <div class="footerText">
        <p>@Axel Mesnard</br>
        <a href="https://github.com/bientavu/grandpybot" target="​_blank">GitHub</a>
        </p>
    </div>
    </footer>
</html>
