::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: grey; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #0097fe;
}

@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.headerText {
    text-align: center;
    background-color: #0097fe;
    color: #ffffff;
    margin: 0;
    font-family: Helvetica, "quicksandregular", "Trebuchet MS", Verdana, Arial;
}

.headerTextDescription{
    text-align: center;
    background-color: #0097fe;
    color: #ffffff;
    font-family: Helvetica, "quicksandregular", "Trebuchet MS", Verdana, Arial;
}

.conversationContainer {
    width: 60%;
    height: 600px;
    border-radius: 10px 10px 0 0;
    box-shadow: 10px 10px 5px 1px #00000063;
    background-color: #ffffff;
    margin: auto;
    /* padding: 0; */
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.conversationContainer div {
    padding: 18px;
    border-radius: 30px;
    margin: 8px;
    margin-bottom: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.sendMessageContainer{
    width: 60%;
    height: 50px;
    background-color: #ffffff;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0 0 30px 30px;
    box-shadow: 10px 10px 5px 1px #00000063;
    position: relative;
    padding-top: 5px;
}

#user-text-form{
    width: 100%;
}

.inputuserText{
    font-family: Helvetica, "quicksandregular", "Trebuchet MS", Verdana, Arial; 
    width: 90%;
    height:80%;
    line-height: 100%;
    border-radius: 30px;
    border-color: #0097fe;
    padding-left: 20px;
    box-sizing: content-box;
    font-size: 16px;
    position: relative;
    top: -17px;
}

.inputuserText:focus {
    outline: none;

}

.inputButton{
    height: 45px;
    width: 45px;
    border-radius: 0px 50px 50px 0px;
    border-radius: 50%;
}

.footerText{
    text-align: center;
    background-color: #0097fe;
    color: #ffffff;
    font-family: Helvetica, "quicksandregular", "Trebuchet MS", Verdana, Arial;
    font-weight: bold;
}

.question {
    background: #0084ff;
    color: #fff;
    text-align: left;
    align-self: flex-end;
    max-width: 50%;
}

.answer{
    background: #eee;
    color: #000000;
    text-align: left;
    max-width: 50%;
}

.answer-map {
    width: 50%;
    height: 250px;
    flex-shrink: 0;
}

.answer + .question{
    border-bottom-right-radius: 5px;
}
  
.question + .question{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.question:last-of-type {
    border-bottom-right-radius: 30px;
}

.question + .answer{
    border-bottom-left-radius: 5px;
}

.answer + .answer{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.answer:last-of-type {
    border-bottom-left-radius: 30px;
}

.spinning {
    height: 45px;
    width: 45px;
    background: transparent;
    border: transparent;
    animation: rotor 1s ease-in-out infinite alternate;
    }
    @keyframes rotor {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}