@media only screen and (hover: none) and (pointer: coarse){
    
.headerText {
    text-align: center;
    background-color: #0097fe;
    color: #ffffff;
    margin-right: 20px;
    margin-left: 20px;
    font-family: Helvetica, "quicksandregular", "Trebuchet MS", Verdana, Arial;
}

.headerTextDescription{
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #0097fe;
    color: #ffffff;
    font-family: Helvetica, "quicksandregular", "Trebuchet MS", Verdana, Arial;
}

.sendMessageContainer{
    width: 80%;
    height: 50px;
    background-color: #ffffff;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0 0 30px 30px;
    box-shadow: 10px 10px 5px 1px #00000063;
    position: relative;
}

.inputuserText{
    font-family: Helvetica, "quicksandregular", "Trebuchet MS", Verdana, Arial; 
    width: 70%;
    height: 40px;
    line-height: 100%;
    border-radius: 30px;
    border-color: #0097fe;
    padding-left: 10px;
    box-sizing: content-box;
    font-size: 13px;
    position: relative;
}

.conversationContainer {
    width: 80%;
    height: 610px;
    border-radius: 10px 10px 0 0;
    box-shadow: 10px 10px 5px 1px #00000063;
    background-color: #ffffff;
    margin: auto;
    list-style: none;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.conversationContainer div {
    display:inline-block;
    clear: both;
    padding: 12px;
    border-radius: 30px;
    margin: 8px;
    margin-bottom: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}
}