
@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.headerText {
    text-align: center;
    background-color: #0097fe;
    color: #000000;
    font-family: "quicksandregular", "Trebuchet MS", Verdana, Arial;
}

.headerTextDescription{
    text-align: center;
    background-color: #0097fe;
    color: #ffffff;
    font-family: "quicksandregular", "Trebuchet MS", Verdana, Arial;
    font-weight: bold;
    text-align: justify;
}

.conversationContainer {
    width: 80%;
    height: 800px;
    background-color: #ffffff;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
    border-radius: 30px 30px 0 0;
    box-shadow: 10px 10px 5px 1px #00000063;
}

.sendMessageContainer{
    width: 80%;
    height: 50px;
    background-color: #ffffff;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0 0 30px 30px;
    box-shadow: 10px 10px 5px 1px #00000063;
}
