@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
    text-align: center;
    background-color: #0097fe
}

h2, p
{
    color: #ffffff;
    font-family: "quicksandregular", "Trebuchet MS", Verdana, Arial;
}

p
{
    font-weight: bold;
}
